.advantage {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__block {
        max-width: 238px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__subtitle {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a
            {
                color: #ff0000
            }
    }
    &__icon {
        &:hover {
            animation-play-state: running;
        }
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            // animation-name: heartbeat;
            // animation-duration: 1.5s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
            animation-play-state: paused;
        }
        &_shakeY {
            animation: shakeY;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-play-state: paused;
        }
        &_swing {
            animation: swing 1.5s ease infinite;
            animation-play-state: paused
        }
    }
}