.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background:#fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        right: -66px;
        left: auto;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        display: none;
        justify-content: center;
    }
    .tns-nav > button {
        width: 100px;
        height: 100px;
        margin: 1px;
        border-color: black;
    }
    [data-nav="0"] {
        background: url('../img/watch.png') center center/contain no-repeat;
    }
    [data-nav="1"] {
        background: url('../img/triple_watch.png') center (center/contain) no-repeat;
    }
    [data-nav="2"] {
        background: url('../img/triple_cool_watch.png') center (center/contain) no-repeat;
    }
}